<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>BEER-ME</title>
    <link rel="stylesheet" type="text/css" href="../static/css/beer.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-text">
        <h3>Which of these beers do you like?
      </span>
    </nav>
    <div class="container-dark bg-dark">
    <form action="http://localhost:4000/result", method='POST' id='submitform'>
      <center><div class="checkbox">
                  <label><input type="checkbox" name="check" value="Corona"><font color='red'>Corona</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="Boneshaker"> Amsterdam Boneshaker</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="Blue Moon">Blue Moon/Belgian Moon</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="Clifford">Clifford Porter</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" name="check" value="Heineken">Heineken</label>
                </div>
                <label><input type="checkbox" name="check" value="Jutsu"><font color='red'>Bellwoods Jutsu</label>

              <div class="checkbox">
                <center><label><input type="checkbox" name="check" value="Side Launch">Side Launch Wheat</label>
              </div>
              <div class="checkbox">
                <center><label><input type="checkbox" name="check" value="La Chouffe">La Chouffe</label>
              </div>
              <div class="checkbox">
                <center><label><input type="checkbox" name="check" value="Octopus">GLB: Octopus Wants to Fight IPA</label>
                                      </div>
                <center><button type="submit" class="btn btn-danger">BEER ME!</button>
                </form>
                </div>
                    <center>
                              </div>
                              <img class="d-block w-100" src="../static/images/maxresdefault.jpg" alt="Third slide">
                              </div>

                              </div>
                            </div>

                      </body>
                    </html>
        </html>
