<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/css/website_format.css">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>BEER-ME</title>

  </head>
  <body style='background-color:#212121;'>
  </body>
    <nav class="navbar navbar">
      <span class="navbar-text">
          <font color='red'
        <h3>Top Recommendations For You....
      </span>
    </nav>
    <div class="container">
      <div width="800" height="500" align="center"
         <font color='red'>{{result[0]}}
           <div>
           {{result[1]}}
        </div>
        <div>
        {{result[2]}}
       </div> <div>
        {{result[3]}}
     </div> <div>
      {{result[4]}}
   </div> <div>
    {{result[5]}}
 </div> <div>
  {{result[6]}}
</div> <div>
 {{result[7]}}
</div> <div>
 {{result[8]}}
</div>
<div>
{{result[9]}}
</div>

<div>

</div>
&nbsp;
&nbsp;
<h3>Now that you're in a beer mood, why not check out some local breweries:
        <iframe src="https://www.google.com/maps/d/embed?mid=1U2KQBKBXOt1hD5RA6MZHo_snjTw" width="800" height="500" align='center'></iframe>
        </div>

        <center>

                    </div>
                      <img class="d-block w-100" src="../static/images/canuckmap.png" alt="canuckmap">
                    </div>

                    </div>
                  </div>

            </body>
</html>
